* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  background: #F4F4F4;
  color: #333;
  font: normal normal 400 13px/1.538 "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  padding: 20px 0;
}

a {
  color: #1250A8;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #4696E5;
}

img {
  outline: 0
}

h1 {
  font-size: 20px;
  margin-bottom: 6px;
}

h2 {
  font-size: 18px;
  margin-bottom: 7px;
}

h3 {
  font-size: 14px;
  margin-bottom: 4px;
  padding-top: 2px;
}

h4 {
  font-size: 12px;
  margin-bottom: 4px;
  padding-top: 3px;
}

#wrapper {
  background: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  margin: 0 auto;
  max-width: 1040px;
}

#logo {
  display: block;
  margin: 30px 0 0 30px;
}

#search {
  font: normal normal 400 13px/1.538 "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  margin: 25px 0 0 30px;
}

#search input {
  border: 1px #D9D9D9 solid;
  border-radius: 5px;
  font: normal normal 400 13px/1.538 "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  padding: 0 5px 2px 3px;
  transition: width .2s ease;
  width: 140px;
}

#search input:focus {
  background: #E5E5E5;
  width: 200px;
}

.menu {
  border-right: 1px #D9D9D9 solid;
  float: left;
  width: 269px;
}

.menu a {
  color: #333
}

.menu a:hover, .menu a:focus, .menu a:active {
  color: #1250A8;
}

.menu > ul {
  margin: 30px 0
}

.menu li {
  list-style: none
}

.menu li a {
  display: block;
  font-weight: 700;
  padding: 4px 20px 7px 30px;
  line-height: 18px;
}

.menu li li a {
  color: #575757;
  font-weight: 400;
  font-size: 12px;
  padding: 5px 5px 6px 60px;
}

.menu li li li a {
  padding-left: 90px;
}

.menu li li li li a {
  padding-left: 120px;
}

.menu li li li li li a {
  padding-left: 150px;
}

.menu li li li li li li a {
  padding-left: 180px;
}

li .has-sub > a {
  background: url(../images/arrow.png) no-repeat 249px 10px;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.content {
  float: left;
  max-width: 670px;
  padding: 0 50px 100px;
  width: 100%;
}

.content footer {
  text-align: right;
  margin-top:12px;
}

.content ol, .content p, .content table, .content ul {
  margin-bottom: 7px;
}

.content ul {
  margin: 9px 0 7px 15px;
}

.content h1 + ul, .content h2 + ul, .content h3 + ul, .content h4 + ul {
  margin-top: 7px;
}

.content ol {
  margin: 9px 0 8px 25px;
  list-style: decimal-leading-zero;
}

.content h1 + ol, .content h2 + ol, .content h3 + ol, .content h4 + ol {
  margin-top: 7px;
}

.content .breadcrumb {
  list-style: none;
  margin: 0;
  padding: 22px 0 38px 0;
}

.breadcrumb li {
  float: left;
  margin-right: 4px;
}

.breadcrumb li:before {
  content: "› ";
}

.breadcrumb li a {
  font-size: 11px;
  line-height: 14px;
}

.breadcrumb li a:hover, .breadcrumb li a:active, .breadcrumb li a:focus {
  text-decoration: underline;
}

.breadcrumb li a.active {
  color: #333;
}

code, pre {
  background: #E5E5E5;
  font-family: monospace;
  font-size: 12px;
  line-height: 18px;
}

pre {
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  margin: 10px 0 14px 0;
  padding: 6px 5px 4px 5px;
  white-space: pre-wrap;
  word-break: break-all;
}

.search form {
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 20px;
}

.search form input[type=submit] {
  border: 1px #D9D9D9 solid;
  border-radius: 5px;
  cursor: pointer;
  font: normal normal 700 13px/1.538 "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  padding: 3px 5px 5px 3px;
}

.search form input[type=submit]:hover {
  background: #E5E5E5;
}

.search form input[type=text] {
  border: 1px #D9D9D9 solid;
  border-radius: 5px;
  font: normal normal 400 13px/1.538 "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  margin-right: 6px;
  padding: 4px 5px 6px 3px;
  width: 400px;
}

.search form input[type=text]:hover, .search form input[type=text]:focus {
  background: #E5E5E5
}

.search ul {
  border-top: 1px solid #e5e5e5;
  margin: 6px 0 0 0;
}

.search li {
  border-bottom: 1px solid #e5e5e5;
  list-style: none;
  padding: 13px 0 16px;
}

.search li strong {
  display: block
}

.search a {
  color: #333;
}

.search a:hover, .search a:focus, .search a:active {
  color: #1250A8;
}

.search .no-results {
  margin-top: 13px
}

.search nav[role=pagination] {
  margin-top: 4px;
}

.search nav .first:after, .search nav .prev:after, .search nav .next:after {
  content: " | ";
}
